{% extends 'base.html' %}

{% block content %}




<div class="container">
    <div class="row ">
        <div class="col gy-5">
            {% if new.photo %}
            <img src="{{new.photo.url}}" class="rounded-start rounded-end border border-4" alt="Sorry, we will add photo later :c" width="700">
            {% endif %}
        </div>
        <div class="col gy-5">
            <p class="fs-1">{{new.title}}</з>
            <p class="fs-5">{{new.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col gy-5">
            <p class="fs-3">Author - {{new.author}}</p>
            <p class="fs-5">Time published - {{new.post_time_created}}</p>
            <p class="fs-3">Tags - #{{new.tags}}</p>
            <p class="fs-3">Views - {{new.total_views}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col gy-5">
            <div class="form-floating">
                <form method="post" action="{% url 'review' new.slug %}"> 
                    {% csrf_token %}
                    <textarea style="width: 500px" name="review" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    <br>
                    <button type="Submit" class="btn btn-outline-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col gy-5">
            <div class="review">
                <p class="fs-1">Review's:</p>
                {% for review in reviews %}
                    <h5>{{review.body}}</h5> <p>Time published {{review.post_time_created}}</p> 
                {% empty %}
                    <h3>No comments yet</h3>
                {% endfor %}
            </div>
        </div>
    </div>
</div> 



{% endblock %}

